<div id="categorias">
    <div id="categoria">
        <h2>Nombre Completo</h2>
        <ul>
            <li *ngFor="let cliente of ListaClientes">
                <h3>{{cliente.nombre}}</h3>
            </li>
        </ul>
    </div>
    <div  id="categoria">
        <h2>Genero</h2>
        <ul>
            <li *ngFor="let cliente of ListaClientes">
                <h3 id="genero">{{cliente.genero}}</h3>
            </li>
        </ul>
    </div>
    <div  id="categoria">
        <h2>Pais</h2>
        <ul>
            <li *ngFor="let cliente of ListaClientes">
                <h3 id="pais">{{cliente.pais}}</h3>
            </li>
        </ul>
    </div>
    <div  id="categoria">
        <h2>Ciudad</h2>
        <ul>
            <li *ngFor="let cliente of ListaClientes">
                <h3 id="ciudad">{{cliente.ciudad}}</h3>
            </li>
        </ul>
    </div>
</div>
